doctype html
- var title = 'Traductor de cartas de HearthStone v' + version
html(lang='es')
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.0.0/awesomplete.min.css')
  body
    div= title
    table
      tr
        td
          input#cardNames.awesomplete(placeholder='Nombre de la carta a traducir', size='25')
        td
          div#result
    script(src='https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.0.0/awesomplete.min.js')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js')
    script
      include translations.js
    script.
      function onCardSelected(evt) {
        var selectedCard = evt.target.value;
        var translatedName = nameTranslations[selectedCard];
        var resultEl = document.getElementById("result");
        resultEl.innerHTML = translatedName;
      }
      function initAwesomplete(optionsArray) {
        var input = document.getElementById("cardNames");
        var awesomplete = new Awesomplete(input);
        awesomplete.minChars = 1;
        awesomplete.autoFirst = true;
        awesomplete.list = optionsArray;
        input.addEventListener("awesomplete-selectcomplete", onCardSelected, true);
      }
      function init() {
        var cardOptions = [];
        for (var cardName in nameTranslations) {
          if (nameTranslations.hasOwnProperty(cardName)) {
            cardOptions.push(cardName);
          }
        }
        initAwesomplete(cardOptions);
      }
      init();
