@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@import 'awesomplete/awesomplete.css';

body {
    background: black;
    font-family: sans-serif;
}

.main-wrapper {
    background: rgb(233, 233, 233);
    max-width: 800px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

td:first-child {
    white-space: nowrap;
}

td:last-child {
    width: 99%;
}
